.row#start-project-first-row
	.container
		.row
			.span2
				= link_to image_tag("mobb_logo.png", class: "brand", style: "margin-top: 10px;"), static_pages_home_page_path
			.span7
				%ul.nav.nav-tabs
					%li.active#about
						= link_to "About Idea Mobb", static_pages_about_path, id: "about"
					%li#browse
						= link_to "Browse", static_pages_browse_path, id: "browse"
					%li#start
						= link_to "Start", static_pages_start_project_path, id: "start"
			.span3
				.row-fluid
					.span12
						%form
							%button.btn.btn-small.btn-success Log in
							%button.btn.btn-small.btn-primary Sign up
				.row-fluid
					.span12
						%form.form-search
							%input.input-medium.search-query{type: "text",placeholder: "To search type..."}
							%i.icon-search

.row#about-second-row
	.container
		.row.row-about-us
			.span12
				%h4 About Us
				%p Lorem ipsum,dolor sit, amet consecteualr,adscipling!
				= image_tag "about1.png"
				%h5 Meet Idea Mobb Team
		.row.row-second
			.span12
				%h3
					= image_tag "about2.png"
					Lorem Lpsum Dolor Sit
				%hr.hr-row
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				%h3
					= image_tag "about3.png"
					Cosecteualr Elit Sed Eiusmod
				%hr.hr-row
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				%h3
					= image_tag "about4.png"
					Adscipling Qui Officia Cupidatat
				%hr.hr-row
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.row.row-third
			.span12
				%h2 Featured Success Story
				.row-fluid
					.span6
						= image_tag "content1.png"
					.span6.row-right
						.row-fluid.row-first
							.span3
								= image_tag "content3.png"
							.span9
								%a
									%h5 Lorem Ipsum Dolor
								%p
									%strong Passion:
									Lorem ipsum dolor sit amet
								%p
									%strong Location:
									Lorem, Consecteular
								%p
									%strong Category:
									Adscipling
						.row-fluid.row-second
							.span12
								%h5
									%i.icon-star
									Fully Funded: $0,000
								%hr.hr-row
								%p
									Lorem ipsum dolor  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud commodo consequat. Duis aute irure dolor in reprehenderit in  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui  est laborum.

.row#start-project-fourth-row
	.container
		.row
			.span2
				%h4 Lorem
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
					%li
						= link_to "tempor", '#'
			.span2
				%h4 Dolor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span2
				%h4 Amet
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
			.span2
				%h4 Consecteualr
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span1
				%h4 Tempor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
			.span3#social-links
				%h3 Folow Us on
				%ul
					%li
						= link_to image_tag("in.png"), "#"
					%li
						= link_to image_tag("facebook.png"), "http://facebook.com"						
					%li
						= link_to image_tag("twitter.png"), "http://twitter.com"
					%li
						= link_to image_tag("youtube.png"), "http://youtube.com"

.row#start-project-fifth-row	
	.container
		.row
			.span12
				%p{style: "float:right;"}
					© 2013 Idea Mobb Inc.All Rights Reserved

#openModal.modalDialog
	%div
		%a.close{href:"", title: "Close"} X
		.row#modal-first-row
			%p
				Okay, let's get started.
		.row#modal-second-row
			%center
				.btn-group
					%button.btn.btn-large United States
					%button.btn.btn-large.dropdown-toggle{"data-toggle" => "dropdown"}
						%span.caret
					%ul.dropdown-menu
						%li
							%a United States
						%li
							%a China
						%li
							%a Korea
		.row#modal-third-row
			%p
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua:
		.row#modal-fourth-row{style:"background-color: #d5eaff"}
			%ul
				%li
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				%li
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
				%li
					Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor
				%li
					Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor adscipling amet sit aliqua.
		.row#modal-fifth-row
			%center
				=link_to static_pages_getting_started_path do
					%button.btn.btn-success.btn-large Continue

					
