.row#start-project-first-row
	.container
		.row
			.span2
				= link_to image_tag("mobb_logo.png", class: "brand", style: "margin-top: 10px;"), static_pages_home_page_path
			.span7
				%ul.nav.nav-tabs
					%li#about
						= link_to "About Idea Mobb", static_pages_about_path, id: "about"
					%li.active#browse
						= link_to "Browse", static_pages_browse_path, id: "browse"
					%li#start					
						= link_to "Start", static_pages_start_project_path, id: "start"
			.span3
				.row-fluid
					.span12
						%form
							%button.btn.btn-small.btn-success Log in
							%button.btn.btn-small.btn-primary Sign up
				.row-fluid
					.span12
						%form.form-search
							%input.input-medium.search-query{type: "text",placeholder: "To search type..."}
							%i.icon-search

.row#browse-second-row
	.container
		.row
			.span12
				%h3 Browse Projects
				%p Lorem ipsum,dolor sit, amet consecteualr,adscipling!
		.row
			.span9.left-content
				.row-fluid.block-title
					.span6
						%h4 Staff Picks
					.span6
						= link_to "Browse all Staff Picks", "#", class:"pull-right"
				.row-fluid.row-three-block
					.span4.third-row-block
						= image_tag ("home_page4.png")
						%a
							%h5 Lorem lpsum Dolor
						%p{style:"font-style: italic;"}by: Consecteular
						%p
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row.third-row-block-status
							.progress
								.bar
							.row-fluid
								.span4
									%p 000%
								.span4
									%p $0,000
								.span4
									%p 00
							.row-fluid
								.span4
									%p funded
								.span4
									%p pledged
								.span4
									%p Days to go				
					.span4.third-row-block
						= image_tag ("home_page4.png")
						%a
							%h5 Lorem lpsum Dolor
						%p{style:"font-style: italic;"}by: Consecteular
						%p
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row.third-row-block-status
							.progress
								.bar
							.row-fluid
								.span4
									%p 000%
								.span4
									%p $0,000
								.span4
									%p 00
							.row-fluid
								.span4
									%p funded
								.span4
									%p pledged
								.span4
									%p Days to go				
					.span4.third-row-block
						= image_tag ("home_page4.png")
						%a
							%h5 Lorem lpsum Dolor
						%p{style:"font-style: italic;"}by: Consecteular
						%p
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row.third-row-block-status
							.progress
								.bar
							.row-fluid
								.span4
									%p 000%
								.span4
									%p $0,000
								.span4
									%p 00
							.row-fluid
								.span4
									%p funded
								.span4
									%p pledged
								.span4
									%p Days to go				

				.row-fluid.row-three-block
					.row-fluid.block-title
						.span6
							%h4 Popular This Week
						.span6
							= link_to "Browse all Popular This Week", "#", class:"pull-right"
					.row-fluid.row-three-block
						.span4.third-row-block
							= image_tag ("home_page4.png")
							%a
								%h5 Lorem lpsum Dolor
							%p{style:"font-style: italic;"}by: Consecteular
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.row.third-row-block-status
								.progress
									.bar
								.row-fluid
									.span4
										%p 000%
									.span4
										%p $0,000
									.span4
										%p 00
								.row-fluid
									.span4
										%p funded
									.span4
										%p pledged
									.span4
										%p Days to go				
						.span4.third-row-block
							= image_tag ("home_page4.png")
							%a
								%h5 Lorem lpsum Dolor
							%p{style:"font-style: italic;"}by: Consecteular
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.row.third-row-block-status
								.progress
									.bar
								.row-fluid
									.span4
										%p 000%
									.span4
										%p $0,000
									.span4
										%p 00
								.row-fluid
									.span4
										%p funded
									.span4
										%p pledged
									.span4
										%p Days to go				
						.span4.third-row-block
							= image_tag ("home_page4.png")
							%a
								%h5 Lorem lpsum Dolor
							%p{style:"font-style: italic;"}by: Consecteular
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.row.third-row-block-status
								.progress
									.bar
								.row-fluid
									.span4
										%p 000%
									.span4
										%p $0,000
									.span4
										%p 00
								.row-fluid
									.span4
										%p funded
									.span4
										%p pledged
									.span4
										%p Days to go				

				.row-fluid.row-three-block
					.row-fluid.block-title
						.span6
							%h4 Recently Successfully Funded
						.span6
							= link_to "Browse all Staff Picks", "#", class:"pull-right"
					.row-fluid.row-three-block
						.span4.third-row-block
							= image_tag ("home_page4.png")
							%a
								%h5 Lorem lpsum Dolor
							%p{style:"font-style: italic;"}by: Consecteular
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.row.third-row-block-status
								.progress
									.bar
								.row-fluid
									.span4
										%p 000%
									.span4
										%p $0,000
									.span4
										%p 00
								.row-fluid
									.span4
										%p funded
									.span4
										%p pledged
									.span4
										%p Days to go				
						.span4.third-row-block
							= image_tag ("home_page4.png")
							%a
								%h5 Lorem lpsum Dolor
							%p{style:"font-style: italic;"}by: Consecteular
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.row.third-row-block-status
								.progress
									.bar
								.row-fluid
									.span4
										%p 000%
									.span4
										%p $0,000
									.span4
										%p 00
								.row-fluid
									.span4
										%p funded
									.span4
										%p pledged
									.span4
										%p Days to go				
						.span4.third-row-block
							= image_tag ("home_page4.png")
							%a
								%h5 Lorem lpsum Dolor
							%p{style:"font-style: italic;"}by: Consecteular
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							.row.third-row-block-status
								.progress
									.bar
								.row-fluid
									.span4
										%p 000%
									.span4
										%p $0,000
									.span4
										%p 00
								.row-fluid
									.span4
										%p funded
									.span4
										%p pledged
									.span4
										%p Days to go				
				.row-fluid.row-recent-updates
					.row-fluid.block-title
						.span6
							%h4{style:"display:inline-block;"} Recent Updates
						.span6
							= link_to "Browse all Staff Picks", "#", class:"pull-right"

					.row-fluid
						.span3
							= image_tag ("home_page4.png")
							%a
								%h6 Lorem lpsum Dolor
						.span9
							%h5 Project update #2
							%a
								%h4 Lorem ipsum dolor sit amet
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ...
							= link_to "Read more", "#"
							%br
							%br
							%br
							%a.comments
								%i.icon-comment
								2 Comments
					%hr.hr-row

					.row-fluid
						.span3
							= image_tag ("home_page4.png")
							%a
								%h6 Lorem lpsum Dolor
						.span9
							%h5 Project update #2
							%a
								%h4 Lorem ipsum dolor sit amet
							%p
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ...
							= link_to "Read more", "#"
							%br
							%br
							%br
							%a.comments
								%i.icon-comment
								2 Comments
			.span3.right-content
				.row.category
					%h5
						%i.icon-star
						Featured
					.row
						%a Staff Picks
						%a Popular
						%a Recently Launched
						%a Ending Soon
						%a Small Projects
						%a Most Funded
						%a Curated Pages


				.row.category
					%h5
						%i.icon-tag
						Categories
					.row
						%a Art
						%a Comics
						%a Dance
						%a Design
						%a Fashion
						%a Film & Video
						%a Food
						%a Games
						%a Music
						%a Photography
						%a Publishing
						%a Technology
						%a Theater
				.row.category
					%h5 # Tags
					.row
						%a Lorem
						%a Civic
						%a Open source
						%a RPG
						%a Science
						%a Zombies
				.row.category
					%h5
						%i.icon-map-marker
						Cities
					.row
						%a New York
						%a Los Angeles
						%a Brooklyn
						%a Chicago
						%a San Francisco
						%a Portland
						%a Seattle
						%a Boston
						%a Austin
						%a Nashville
				.row.category
					%input.input-medium.search-query{type: "text",placeholder: "Search Cities..."}
					%i.icon-search

.row#start-project-fourth-row
	.container
		.row
			.span2
				%h4 Lorem
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
					%li
						= link_to "tempor", '#'
			.span2
				%h4 Dolor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span2
				%h4 Amet
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
			.span2
				%h4 Consecteualr
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span1
				%h4 Tempor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
			.span3#social-links
				%h3 Folow Us on
				%ul
					%li
						= link_to image_tag("in.png"), "#"
					%li
						= link_to image_tag("facebook.png"), "http://facebook.com"						
					%li
						= link_to image_tag("twitter.png"), "http://twitter.com"
					%li
						= link_to image_tag("youtube.png"), "http://youtube.com"

.row#start-project-fifth-row	
	.container
		.row
			.span12
				%p{style: "float:right;"}
					© 2013 Idea Mobb Inc.All Rights Reserved


					
