.row#start-project-first-row
	.container
		.row
			.span2
				= link_to image_tag("mobb_logo.png", class: "brand", style: "margin-top: 10px;"), static_pages_home_page_path
			.span7
				%ul.nav.nav-tabs
					%li#about
						= link_to "About Idea Mobb", static_pages_about_path, id: "about"
					%li#browse
						= link_to "Browse", static_pages_browse_path, id: "browse"
					%li#start					
						= link_to "Start", static_pages_start_project_path, id: "start"
			.span3
				.row-fluid
					.span12
						%form
							%button.btn.btn-small.btn-success Log in
							%button.btn.btn-small.btn-primary Sign up
				.row-fluid
					.span12
						%form.form-search
							%input.input-medium.search-query{type: "text",placeholder: "To search type..."}
							%i.icon-search

.row#home-page-first-row
	.container
		.row
			%center{style:"margin-bottom: 30px;"}
				%h3 Lorem lpsum Dolor Sit Amet Consecteular.
			.span4{style: "padding-left: 50px;"}
				= image_tag "home_page1.png"
				%h4{style:"margin-left: 60px;"}
					Lorem lpsum
			.span4{style: "margin-left: 0px;"}
				= image_tag "home_page2.png"
				%h4{style:"margin-left: 30px;"}
					Consecteular Amet
			.span4{style: "margin-left: 0px;"}
				= image_tag "home_page3.png"
				%h4{style:"margin-left: 53px;"}
					Adscipling Sit
.row#home-page-second-row
	.container
		.row
			%center
				%h4 Sed ut perspiciatis unde omnis iste
			%center
				%h3
					Sit voluptatem accusantium doloremque laudan
					%br
					tium, totam rem aperiam.
			%hr.hr-row
			%center
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
					%br
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					%br
					ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					%br
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.row#home-page-third-row
	.container
		.row
			.span2.offset10
				.btn.btn-warning.btn-large.pull-right Most Popular

		.row{style: "margin-top: 30px;"}
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go

.row#start-project-fourth-row
	.container
		.row
			.span2
				%h4 Lorem
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
					%li
						= link_to "tempor", '#'
			.span2
				%h4 Dolor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span2
				%h4 Amet
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
			.span2
				%h4 Consecteualr
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span1
				%h4 Tempor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
			.span3#social-links
				%h3 Folow Us on
				%ul
					%li
						= link_to image_tag("in.png"), "#"
					%li
						= link_to image_tag("facebook.png"), "http://facebook.com"						
					%li
						= link_to image_tag("twitter.png"), "http://twitter.com"
					%li
						= link_to image_tag("youtube.png"), "http://youtube.com"

.row#start-project-fifth-row	
	.container
		.row
			.span12
				%p{style: "float:right;"}
					© 2013 Idea Mobb Inc.All Rights Reserved