.row#first-row
	.container
		.row
			.span4
				= link_to image_tag("mobb_logo.png", :class => "brand"), static_pages_home_page_path
			.span2.offset6
				%ul.nav.pull-right
					%li
						%i.icon-user
						= link_to "Lorem lpsum", '#', :style => "display:inline-block"
.row#second-row
	.container
		.row
			.span10
				%ul.nav-pills{:style => "margin-left: 0px;"}
					%li.step-tab.btn.selected{:style => "z-index: 100;"}
						= link_to "Getting Started", static_pages_getting_started_path
					%li.step-tab.btn.selected{:style => "z-index: 90;"}
						=link_to "Project Profile & Donation Rewards", static_pages_project_profile_path
					%li.step-tab.btn.active{:style => "z-index: 80;"}
						=link_to "Owner Information", "#"
					%li.step-tab.btn{:style => "z-index: 70;"}
						=link_to "Verify Account", static_pages_verify_account_path
					%li.step-tab.btn.last-tab{:style => "z-index: 60;"}
						=link_to "Checklist", static_pages_checklist_path
			.span2
				= link_to static_pages_start_preview_path do
					%button.btn.btn-large{:style => "float:right;"}
						%i.icon-eye-open
						Review
.row#third-row
	.container
		%h3
			%center
				Lorem ipsum sit consecteular.
		%p
			%center
				Sed ut perspiciatis unde omnis doloremque laud.

.row#verify-account-fourth-row
	.container
		.row-fluid.content
			.span9.left-content
				.row-fluid.left-content-header
					%h4 Sed ut perspiciatis unde omnis iste natus error.
					%p{style: "font-size: 120%;margin-top: 30px;"} Sit voluptatem accusantium doloremque laudantium.
					%p{style: "font-size: 120%;"} Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
					%ul{style: "font-size: 120%; margin-left: 40px;"}
						%li Et quasi architecto beatae vitae dicta sunt explicabo.
						%li Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
						%li aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
					%p{style: "font-size: 120%; margin-bottom: 30px;"} Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,

				.row-fluid.left-content-row
					.span4
						%h5 Project Introductory Video
					.span8
						.well{style:"background-color: white; width: 93%; height: 70px; margin-bottom: 0px;"}
							%center
								%h5{style:"color: #fba206;"} Lorem ipsum dolor sit amet consecteular
								%p Lorem ipsum dolor sit amet consecteular
						%p
							Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				.row-fluid.left-content-row
					.span4
						%h5 Detailed Project Description
					.span8
						%p
							Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.

						%input{type:"text", style: "width:97%;"}

				.row-fluid.left-content-row
					.span4
						%h5 Timeline, Potential Issues/Threats
					.span8
						%p
							Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
						%textarea{rows:"10", style: "width:97%;margin-bottom: 0px;"}
				.row-fluid.left-content-row
					.span4
						%h5 Profile Photo
					.span8
						.well{style:"background-color: white; width: 93%; height: 70px; margin-bottom: 0px;"}
							%center
								%h5{style:"color: #fba206;"} Lorem ipsum dolor sit amet consecteular
								%p Lorem ipsum dolor sit amet consecteular
				.row-fluid.left-content-row
					.span4
						%h5 Name
					.span8
						%input{type:"text", style:"width: 97%;"}
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.row-fluid.left-content-row
					.span4
						%h5 Facebook Connect
					.span8
						= image_tag("facebook.png", style:"width:24px; height: 24px;")
						%h5{style:"display: inline-block; margin-left: 10px;"} Connected to Facebook
				.row-fluid.left-content-row
					.span4
						%h5 Biography
					.span8
						%textarea{rows:"6", style:"width: 97%;"}
				.row-fluid.left-content-row
					.span4
						%h5 Your Location
					.span8						
						.input-prepend{style: "width: 98%;"}
							%span.add-on
								%i.icon-search
							%input{type:"text", style: "width: 94%;"}
							
				.row-fluid.left-content-row
					.span4
						%h5 Websites
					.span8					
						.input-append{style: "width: 98%;"}
							%input{type:"text", style: "width: 90%;"}
							%button.btn{style:"margin-top: 0px;"} Add
						%p
							LoreOmnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. m ipsum dolor sit amet, consectetur adipisicing elit.


			.span3.right-content
				.row-fluid
					.thumbnail{style:"background-color: white;"}
						%video{style:"background-color: black; width: 100%; height: 100%", controls:"controls", autoplay:"autoplay", autobuffer:"autobuffer", tabindex:"0"}
							%img{src:"http://d2cjdr17j9fuin.cloudfront.net/assets/widget/play.png"}
						%h5{style: "margin-left: 5px;"}Lorem Ipsum Dolor Sit Amet.
				.row-fluid{style: "margin-top: 30px;"}				
					%h6 Sed ut perspiciatis unde.
					%p
						Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				.row-fluid
					%h6 Nemo enim ipsam voluptatem quia.
					%p
						Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
				.row-fluid
					%h6 Ut enim ad minima veniam.
					%p
						Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
				.row-fluid
					%h6 Sed ut perspiciatis unde.
					%p
						Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				.row-fluid
					%h6 Nemo enim ipsam voluptatem quia.
					%p
						Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
				.row-fluid
					%h6 Ut enim ad minima veniam.
					%p
						Quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
				.row-fluid
					%h6 Sed ut perspiciatis unde.
					%p
						Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				.row-fluid
					%h6 Nemo enim ipsam voluptatem quia.
					%p
						Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

.row#fifth-row
	.container
		.row
			.span1.offset5
				%button.btn.btn-large Back
			.span1
				%button.btn.btn-large.btn-success Next
			.span2.offset2{:style => "padding-top: 10px;"}
				%a
					%i.icon-trash
					Delete
			.span1{:style => "padding-top: 10px;"}
				%a
					= image_tag "icon-exit.png"
					Exit
