.row#start-project-first-row
	.container
		.row
			.span2
				= link_to image_tag("mobb_logo.png", class: "brand", style: "margin-top: 10px;"), static_pages_home_page_path
			.span7
				%ul.nav.nav-tabs
					%li#about
						= link_to "About Idea Mobb", static_pages_about_path, id: "about"
					%li#browse
						= link_to "Browse", static_pages_browse_path, id: "browse"
					%li#start					
						= link_to "Start", static_pages_start_project_path, id: "start"
			.span3
				.row-fluid
					.span12
						%form
							= link_to "Log in", static_pages_login_path, class: "btn btn-small btn-success"
							= link_to " Sign up", static_pages_login_path, class: "btn btn-small btn-primary"

				.row-fluid
					.span12
						%form.form-search
							%input.input-medium.search-query{type: "text",placeholder: "To search type..."}
							%i.icon-search

.row#start-preview-third-row{style:"background-color:#f4f4f4"}
	.container
		%h3{style:"margin-top: 40px;"}
			%center
				Lorem lpusm Dolor
		.row.span4.offset4
			.row.hr-row
				%hr.hr-row{style:"width:83%;"}
		%center#by{style:"margin-bottom: 0px;"}	by: Consecteular

.row#start-preview-fourth-row
	.container#content
		.row#content-header{style:"background-color:white;"}
			.row-fluid
				.span2.offset1
					%h4 Sponsors
				.span3
					%h4 Amount Pledged						
				.span2.offset1
					%h4 Days left
				.span3
					%button.btn.btn-success.btn-large{style: "margin-top: 10px;"} Back This Project

			.row-fluid
				.span2.offset1
					%h4 53
				.span3
					%h4 $1953 out of $3000
					.progress.progress-striped.active
						.bar{style:"width: 65%;"}
				.span2.offset1
					%h4 12
				.span3
					%p{style:"margin-top: 10px;"}
						This project will only be funded if it
						%br
						raised $3000 before 00,2012.
		.row#main-content{style:"background-color: white;margin-bottom:40px;"}
			.span8#content-left
				.row-fluid#content-left-first-row
					= image_tag("content1.png")

				.row-fluid#content-left-second-row
					.span5
						%button.btn#btn-like
							%i.icon-thumbs-up
							Like
						%span{style: "font-size:80%;"} 976 people like this.Be the first of your friends.							
					.span2
						%button.btn#btn-tweet
							%i.icon-twitter							
							Tweet
					.span5
						%button.btn.btn-small#btn-embed <>Embed
					
						%input{type:"text", placeholder:"http://loremipsum", style:"width:150px;margin-bottom: 0px;"}
				.row.hr-row
					%hr.hr-row
				.row-fluid#content-left-third-row
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						%br
						%br
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					= image_tag("content2.png")				
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						%br
						%br
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						%br
						%br
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				.row-fluid#content-left-fourth-row
					%h4{style:"margin-top: 50px;"} Have a question?
					.row.hr-row
						%hr.hr-row
					.span9{style:"margin-left: 0px;"}
						%p
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.span3
						%button.btn.btn-primary.btn-large.pull-right{style:"margin-top: 20px;"} Ask a Question

			.span3#content-right
				.row-fluid#content-right-first-row
					.row-fluid
						.span6
							= image_tag "content3.png"
						.span6
							%p Project by
							%h4 Consecteular
							%p San Francisco, CA
							= link_to "Contact me","#"
					.row.hr-row
						%hr.hr-row
					.row-fluid						
						%p.content-right-first-row-bottom
							%strong Launched:
							Feb 12,2013
						.row.hr-row
							%hr.hr-row
						%p.content-right-first-row-bottom
							%strong Funding ends:
							Mar 15,2013
						.row.hr-row
							%hr.hr-row
						%p.content-right-first-row-bottom
							%strong Website:
							www.loremipsum.com
						%center
							= link_to "See full bio", "#"
				.row-fluid#content-right-second-row{style:"margin-top: 15px; margin-bottom: 30px;"}
					%h4 Pledge $1 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $5 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $10 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $25 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $50 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $100 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $500 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $1000 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row

							
.row#start-project-fourth-row
	.container
		.row
			.span2
				%h4 Lorem
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
					%li
						= link_to "tempor", '#'
			.span2
				%h4 Dolor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span2
				%h4 Amet
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
			.span2
				%h4 Consecteualr
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
					%li
						= link_to "eiusmod", '#'
			.span1
				%h4 Tempor
				%ul
					%li
						= link_to "ipsum", '#'
					%li
						= link_to "dolor", '#'
					%li
						= link_to "sit amet", '#'
					%li
						= link_to "consectetur", '#'
					%li
						= link_to "adipisicing", '#'
					%li
						= link_to "elitseddo", '#'
			.span3#social-links
				%h3 Folow Us on
				%ul
					%li
						= link_to image_tag("in.png"), "#"
					%li
						= link_to image_tag("facebook.png"), "http://facebook.com"						
					%li
						= link_to image_tag("twitter.png"), "http://twitter.com"
					%li
						= link_to image_tag("youtube.png"), "http://youtube.com"

.row#start-project-fifth-row	
	.container
		.row
			.span12
				%p{style: "float:right;"}
					© 2013 Idea Mobb Inc.All Rights Reserved

