.row#first-row
	.container
		.row
			.span4
				= link_to image_tag("mobb_logo.png", :class => "brand"), static_pages_home_page_path
			.span2.offset6
				%ul.nav.pull-right
					%li
						%i.icon-user
						= link_to "Lorem lpsum", '#', :style => "display:inline-block"
.row#second-row
	.container
		.row
			.span10
				%ul.nav-pills{:style => "margin-left: 0px;"}
					%li.step-tab.btn.selected{:style => "z-index: 100;"}
						=link_to "Getting Started", "#"
					%li.step-tab.btn.selected{:style => "z-index: 90;"}
						=link_to "Project Profile & Donation Rewards", "#"
					%li.step-tab.btn.selected{:style => "z-index: 80;"}
						=link_to "Owner Information", "#"
					%li.step-tab.btn.selected{:style => "z-index: 70;"}
						=link_to "Verify Account", "#"
					%li.step-tab.btn.last-tab.selected{:style => "z-index: 60;"}
						=link_to "Checklist", "#"
			.span2
				%button.btn.btn-large#btn-review
					%i.icon-eye-open
					Review
.row#start-preview-third-row
	.container
		%h3 
			%center
				Lorem lpusm Dolor
		.row.span4.offset4
			.row.hr-row
				%hr.hr-row{style:"width:83%;"}
		%center#by	by: Consecteular

.row#start-preview-fourth-row
	.container#content
		.row#content-header{style:"background-color:white;"}
			.row-fluid
				.span2.offset1
					%h4 Sponsors
				.span3
					%h4 Amount Pledged						
				.span2.offset1
					%h4 Days left
			.row-fluid
				.span2.offset1
					%h4 0
				.span3
					%h4 $600 out of $3000
					.progress.progress-striped.active
						.bar{style:"width: 20%;"}
				.span2.offset1
					%h4 45
		.row#main-content
			.span8#content-left
				.row-fluid#content-left-first-row
					= image_tag("content1.png")

				.row-fluid#content-left-second-row
					.span5
						%button.btn#btn-like
							%i.icon-thumbs-up
							Like
						%span{style: "font-size:80%;"} 976 people like this.Be the first of your friends.							
					.span2
						%button.btn#btn-tweet
							%i.icon-twitter							
							Tweet
					.span5
						%button.btn.btn-small#btn-embed <>Embed
					
						%input{type:"text", placeholder:"http://loremipsum", style:"width:150px;margin-bottom: 0px;"}
				.row.hr-row
					%hr.hr-row
				.row-fluid#content-left-third-row
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						%br
						%br
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					= image_tag("content2.png")				
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						%br
						%br
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
						%br
						%br
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.span3#content-right
				.row-fluid#content-right-first-row
					.row-fluid
						.span6
							= image_tag "content3.png"
						.span6
							%p Project by
							%h4 Consecteular
							%p San Francisco, CA
							= link_to "Contact me","#"
					.row.hr-row
						%hr.hr-row
					.row-fluid						
						%p.content-right-first-row-bottom
							%strong Launched:
							Feb 12,2013
						.row.hr-row
							%hr.hr-row
						%p.content-right-first-row-bottom
							%strong Funding ends:
							Mar 15,2013
						.row.hr-row
							%hr.hr-row
						%p.content-right-first-row-bottom
							%strong Website:
							www.loremipsum.com
						%center
							= link_to "See full bio", "#"
				.row-fluid#content-right-second-row
					%h4 Pledge $1 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $5 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $10 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $25 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $50 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.row.hr-row
						%hr.hr-row
					%h4 Pledge $100 or More
					%p
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						%br
						%br
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

							


